{{ define "subject" }}
    Welcome To Contact Keeper
{{ end }}

{{ define "plainText" }}

Hi, {{Data.User.Email}}.  

We are glad to have you on board.  Go to this link to active your account! 


{{ end }}